html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  max-width: 100%;
  height: auto;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
.container {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic);

* {
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* PAGE-HEADER */

.page-header {
  position: relative;
  box-shadow: 0 3px 5px rgba(215, 215, 215, 0.75);
}

.page-header-logo {
  margin: 13px 0 9px 4px;
  position: relative;
  left: 0px;
}

.page-header-menu {
  margin-top: 20px;
}

.page-header-menu-list {
  text-align: right;
}

.page-header-menu-item {
  display: inline-block;
  margin-left: 43px;
}

.page-header-menu-item a, .page-header-phone {
  font-size: 18px;
  font-weight: 700;
}

.page-header-menu-item a {
  color: #ef5350;
  text-transform: uppercase;
}

.page-header-menu-item-active a {
  color: #90a4ae;
}

.toggler {
  background-color: #ef5350;
  height: 64px;
  width: 68px;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.36);
}

#toggler {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.show {
  display: block;
  position: absolute;
  width: 100%;
}

.toggler > span {
  display: inline-block;
  vertical-align: bottom;
  width: 18px;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  position: relative;
  top: 19%;
}

.toggler > span:before,
.toggler > span:after {
  width: 18px;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  position: absolute;
  left: 0;
  content: '';
}

.toggler > span:before {
  top: -4px;
}

.toggler > span:after {
  top: 4px;
}

#toggler {
  overflow: hidden;
  float: right;
}

.toggler--close > span {
  transition: background .3s 0;
  background: transparent;
}

.toggler--close:before,
.toggler--close:after {
  transition: top .3s, transform .3s .5s;
}

.toggler--close > span:before, .toggler--close > span:after {
  height: 3px;
  left: 0;
  top: 0;
}

.toggler--close > span:before {
  transform: rotate3d(0, 0, 1, 51deg);
}

.toggler--close > span:after {
  transform: rotate3d(0, 0, 1, -51deg);
}

.nav {
   font-size: 0;
   display: none;
}

.nav--visible {
  display: block;
  padding-left: 0;
  width: 93%;
  position: absolute;
  left: 9%;
  z-index: 1;
  background-color: #000;
  margin-top: 64px;
  margin-bottom: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.36);
}

.nav--visible li{
  display: block;
  font-size: 20px;
  padding-bottom: 46px;
}

.nav--visible li:first-child {
  padding-top: 46px;
}

.nav--visible li a{
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.page-header-phone {
  padding: 20px 0 20px 35px;
  display: block;
  color: #212121;
}

.page-header-phone a {
  color: #212121;
}

/* PROMO */

.promo {
  text-align: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.promo-title {
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #ef5350;
}

.promo-address {
  margin-top: -5px;
  padding-left: 17px;
  position: relative;
  font-size: 18px;
  color: #212121;
}

.promo-address:before {
  content: '';
  display: block;
  height: 24px;
  width: 18px;
  margin: 0 auto;
  position: relative;
  top: 25px;
  left: -40%;
  background-image: url(../img/promo-address-background.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.link-btn {
  padding: 15px 60px;
  display: inline-block;
  border: 3px solid #ef5350;
  color: #ef5350;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

/* PROMO-MAIN */

.promo-main {
  padding: 138px 0 94px;
  color: white;
  background-image: url(../img/promo-main-background.jpg);
}

.promo-title {
    margin-bottom: 0;
    font-size: 26px;
}

.promo-title-main, .promo-address-main {
  color: white;
}

.promo-address {
  margin-top: -14px;
}

.promo-address:before {
  left: -50%;
}

.link-btn-main {
  margin-top: 45px;
  color: white;
}

/* PROMO-ROOMS */

.promo-rooms {
  padding: 178px 0 268px;
  background-image: url(../img/promo-rooms-background.jpg);
}

/* PROMO-PHOTO */

.promo-photo {
  padding: 175px 0 180px;
  background-image: url(../img/promo-photo-background.jpg);
}

.promo-address-photo {
  padding-left: 30px;
}

.promo-address-photo:before {
  left: -52%;
}

/* FEATURES */

.features {
  padding: 45px 0 57px;
  background-color: #ef5350;
}

.bg-red-title, .bg-red-name {
  color: white;
  font-weight: 700;
  line-height: 1.1;
}

.bg-red-title {
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.features .bg-red-title {
  font-size: 20px;
}

.features-item {
  padding-left: 65px;
  margin-top: 35px;
}

.features-item-center {
  margin-left: 0;
}

.features-item-sunset {
  margin-left: 0px;
}

.features-item-center:before, .features-item-sunset:before, .features-item-room:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 15px;
  top: 38px;
  background-image: url(../img/features-sprite.png);
  background-repeat: no-repeat;
}

.features-item-center:before {
  width: 48px;
  height: 48px;
  background-position: -5px -5px;
}

.features-item-sunset:before {
  width: 44px;
  height: 60px;
  background-position: -5px -63px;
}

.features-item-room:before {
  width: 42px;
  height: 48px;
  background-position: -63px -5px;
}

.bg-red-name {
  margin-top: 25px;
  display: block;
  font-size: 18px;
}

.features-description {
  margin-top: 8px;
  color: #ffebee;
  line-height: 18px;
}

/* ROOMS-MAIN */

.rooms-main {
  padding: 33px 0 0;
}

.title-striped {
  text-align: center;
  color: #212121;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.title-striped:after {
  content: "";
  display: block;
  width: 78px;
  margin: 0 auto;
  position: relative;
  top: 10px;
  border-bottom: 5px solid #ef5350;
}

.rooms-catalog {
  margin-top: 30px;
}

.rooms-catalog .row {
  margin-top: 0;
}

.rooms-main-item:nth-child(odd), .rooms-main-item:nth-child(2n) {
    padding: 0 3px;
  }

.rooms-main-item:not(first-child) {
  margin-top: 9px;
}

.rooms-main-link {
  display: block;
  max-width: 460px;
  position: relative;
}

.rooms-main-information {
  position: absolute;
  z-index: 2;
  top: 85px;
  left: 77px;
}

.rooms-main-information-lux {
  left: 60px;
}

.hotel-item-title {
  color: #212121;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.rooms-catalog .row:nth-child(2) .hotel-item-title {
  text-align: center;
}

.rooms-table {
  border-collapse: separate;
  border-spacing: 0px 6px;
}

.rooms-table td {
  color: #212121;
  font-size: 18px;
}

.rooms-table td:nth-child(2) {
  padding-left: 32px;
}

.rooms-table strong {
  font-weight: 700;
}

.rooms-main-image-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rooms-main-link:hover .rooms-main-image-hover {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.rooms-main .link-btn {
  margin: 45px 0 0 3px;
}

/* PHOTO-PREVIEW */

.photo-preview {
  margin-bottom: 100px;
}

.photo-preview-rooms {
  margin-bottom: 0;
}

.photo-preview .row:nth-child(-n+3):nth-child(n+2) {
  margin-top: 25px;
}

.photo-preview-item:not(:nth-child(4n+1)) {
  padding-left: 10px;
}

.photo-preview-item:not(:nth-child(4n)) {
  padding-right: 10px;
}

.photo-preview-link {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.photo-preview-link:hover {
  width: 101%;
}

.photo-preview-link-image {
  width: 100%;
}

.photo-preview .link-btn {
  margin: 45px 0 0 59px;
}

/* OFFERS */

.offers {
  padding: 22px 0 19px;
  background-color: #ef5350;
}

.offers .bg-red-title {
  line-height: 26px;
}

.offers-item {
  padding-left: 65px;
  position: relative;
}

.offers-item-internet:before,  .offers-item-safety:before, .offers-item-cooking:before, .offers-item-attic:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 2px;
  background-image: url(../img/offers-sprite.png);
  background-repeat: no-repeat;
}

.offers-item-internet:before {
  width: 48px;
  height: 48px;
  background-position: -5px -63px;
}

.offers-item-safety:before {
  width: 40px;
  height: 48px;
  left: 2%;
  background-position: -63px -5px;
}

.offers-item-cooking:before {
  width: 48px;
  height: 48px;
  background-position: -5px -5px;
}

.offers-item-attic:before {
  width: 48px;
  height: 48px;
  background-position: -113px -5px;
}

.offers-item .bg-red-name {
  letter-spacing: 0.05em;
}

.offers-description {
  color: #ffcdd2;
  line-height: 18px;
}

.offers-item-attic .offers-description {
  padding-right: 47px;
}

/* CONTACTS */

.contacts {
  padding: 30px 0 40px;
}

.contact-items {
  margin-top: 25px;
  padding: 0;
}

.contacts-line-item {
  padding: 0;
}

.contacts-line {
  padding-left: 40px;
  display: block;
  margin: 0 0 34px 26px;
  position: relative;
  color: #212121;
  font-size: 18px;
}

.contacts-line-mail {
  margin-bottom: 8px;
}

.contacts-line-address:before,  .contacts-line-phone:before, .contacts-line-mail:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: -4px;
  top: 0;
  background-image: url(../img/contacts-sprite.png);
  background-repeat: no-repeat;
}

.contacts-line-address:before {
  width: 18px;
  height: 24px;
  left: 0;
  background-position: -39px -37px;
}

.contacts-line-phone:before {
  width: 24px;
  height: 24px;
  background-position: -5px -5px;
}

.contacts-line-mail:before {
  width: 24px;
  height: 22px;
  top: 2px;
  background-position: -39px -5px;
}

#map {
  width: 100%;
  height: 337px;
  margin: 39px 0 41px;
}

.reserve-btn {
  margin-left: 0;
}

/* PAGE-FOOTER */

.page-footer {
  padding: 30px 0 36px;
  background-color: #ef5350;
}

.page-footer-rooms {
  margin-top: -114px;
}

.page-footer-address, .page-footer-contacts-item, .page-footer-text-copyright {
  margin-left: 60px;
}

.page-footer-menu-item {
  margin-bottom: 11px;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 700;
}

.page-footer-menu-item:nth-child(-n+4):nth-child(n+3), .page-footer-contacts-item {
  margin-top: 0;
}

.page-footer-menu-item-link {
  margin-left: 60px;
  color: white;
  font-size: 18px;
  letter-spacing: 0.05em;
}

.page-footer-menu-item-link-active {
  color: #ef9a9a;
}

.page-footer-address, .page-footer-contacts-link, .page-footer-text-copyright {
  margin-left: 60px;
  color: white;
}

.page-footer-contacts-item {
  margin-left: 0;
}

.page-footer-text-copyright {
  margin-top: 18px;
}

/* ROOMS-LIST */

.rooms-list {
  padding: 71px 0 0;
}

.rooms-list .container > .row:nth-child(n+2) {
  margin-top: 0;
}

.rooms-list-item {
  padding: 0 5px;
  margin-bottom: 57px;
}

.rooms-list-item:first-child {
  padding-right: 5px;
}

.rooms-list-item:last-child {
  padding-left: 5px;
}

.rooms-list-image {
  width: 100%;
}

.rooms-list-info {
  padding-left: 15px;
}

.rooms-list .hotel-item-title {
  margin: 26px 0 15px;
  color: #ef5350;
}

.rooms-list-benefit {
  display: block;
  margin-bottom: 15px;
}

.rooms-list-benefit-available, .rooms-list-benefit-not-available {
  margin-right: 7px;
  display: inline-block;
  width: 14px;
  height: 10px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.rooms-list-benefit-available {
  background: url(../img/rooms-list-benefit-available-background.png);
}

.rooms-list-benefit-not-available {
  background: url(../img/rooms-list-benefit-not-available-background.png);
}

.rooms-list-benefit-item {
  color: #607d8b;
}

.rooms-list-benefit-item-available {
  color: #212121;
}

.rooms-list .rooms-table {
  margin: 12px 0 26px;
}

.rooms-list .rooms-table strong {
  text-transform: uppercase;
}

.rooms-table-not-reserved {
  color: #90a4ae;
}

.reserve-btn-rooms {
  margin-left: 9px;
}

/* PHOTO-GALLERY */

.photo-gallery {
  padding-bottom: 81px;
  padding-top: 0;
}

.photo-gallery .hotel-item-title {
  margin: 55px 0 0 0;
  color: #ef5350;
}

.hotel-item-title-attic {
  margin: 55px 0 18px;
  color: #ef5350;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.photo-gallery-subtitle {
  color: #607d8b;
  font-weight: 700;
}

.photo-gallery-subtitle h3 {
  font-size: 18px;
}

.photo-gallery-image {
  display: inline-block;
  margin: 0 3px 7px 0;
}

.photo-gallery .reserve-btn {
  margin-top: 37px;
  margin-bottom: 79px;
}

@media (min-width: 768px) {

  /* PAGE-HEADER */

  .page-header-logo {
    margin-left: 62px;
    left: -37px;
  }

  .nav--visible {
    width: 59%;
    left: 41%;
  }

  .page-header-phone {
    position: absolute;
    right: -40px;
    top: 1px;
  }

  /* PROMO-MAIN */

  .promo-main {
    padding: 140px 0 90px;
  }

  .promo-title {
    margin-bottom: 6px;
    font-size: 36px;
  }

  .promo-address:before {
    left: -42%;
  }

  /* PROMO-ROOMS */

  .promo-rooms {
    padding: 162px 0 177px;
  }

  /* PROMO-PHOTO */

  .promo-photo {
    padding: 159px 0 180px;
  }

  .promo-address-photo {
    padding-left: 28px;
  }

  .promo-address-photo:before {
    left: -44%;
  }

  /* FEATURES */

  .features {
    padding: 71px 0 95px;
  }

  .features .bg-red-title {
    font-size: 24px;
  }

  .features-item {
    padding-left: 0;
    margin-top: 95px;
  }

  .features-item-center {
    margin-left: 34px;
  }

  .features-item-sunset {
    margin-left: -25px;
  }

  .features-item-center:before,  .features-item-sunset:before, .features-item-room:before {
    top: 36px;
  }

  .features-item-center::before {
    left: 49px;
  }

  .features-item-sunset:before {
    top: 25px;
    left: -9px;
  }

  /* ROOMS-MAIN */

  .rooms-main {
    padding: 88px 0;
  }

  .title-striped {
    font-size: 36px;
  }

  .rooms-catalog .row {
    margin-top: 20px;
  }

  .rooms-main-item:nth-child(2n) {
    padding-left: 10px;
  }

  .rooms-main-item:nth-child(2n+1) {
    padding-left: 49px;
  }

  .rooms-main-item:not(first-child) {
    margin-top: 0;
  }

  .rooms-main-link {
    max-width: 311px;
  }

  .rooms-main-information {
    top: 78px;
    left: 72px;
  }

  .rooms-main-information-lux {
    left: 63px;
    top: 75px;
  }

  .rooms-main .link-btn {
    margin-left: 37px;
  }

  /* PHOTO-PREVIEW */

  .photo-preview-item:nth-child(odd) {
    padding: 0 26px 20px 64px;
  }

  .photo-preview-item:nth-child(even) {
    padding: 0 64px 20px 26px;
  }

  .photo-preview-link-image {
    height: 182px;
  }

  .photo-preview .link-btn {
    margin: 30px 0 0 30px;
  }

  /* OFFERS */

  .offers {
    padding: 50px 0 60px;
  }

  .offers-item {
    padding-left: 108px;
  }

  .offers-item-safety, .offers-item-attic {
    padding-left: 63px;
  }

  .offers-item:before {
    top: 3px;
  }

  .offers-item-internet:before, .offers-item-cooking:before {
    left: 38px;
  }

  .offers-item-safety:before {
    left: 1%;
  }

  .offers-item-attic:before {
    left: -1%;
  }

  /* CONTACTS */

  .contacts {
    padding: 70px 0 80px;
  }

  .contacts-line-item {
    padding-left: 201px;
  }

  .reserve-btn {
    margin-left: 30px;
  }

  #map {
    height: 446px;
    margin: 35px 0px 47px;
  }

  /* PAGE-FOOTER */

  .page-footer {
    padding: 36px 0px 44px;
  }

  .page-footer-rooms {
    margin-top: 0;
  }

  /* ROOMS-LIST */

  .rooms-list {
    padding-bottom: 107px;
  }

  .rooms-list .container > .row:nth-child(n+2) {
    margin-top: 65px;
  }

  .rooms-list-item {
    margin-bottom: 0;
  }

  /* PHOTO-GALLERY */

  .photo-gallery {
    padding-top: 20px;
  }

  .photo-gallery .reserve-btn {
    margin-bottom: 0;
  }

}

@media (min-width: 1200px) {

  /* PAGE-HEADER */

  .page-header {
    height: 64px;
  }

  .page-header-logo {
    margin: 13px 0 0 62px;
    position: absolute;
    left: 75px;
  }

  .page-header-menu-item {
    margin-left: 48px;
  }

  .page-header-phone {
    right: 0;
    top: 0;
  }

  /* PROMO-MAIN */

  .promo-main {
    padding: 220px 0px 185px;
  }

  .promo-address:before {
    left: -41%;
  }

  /* PROMO-ROOMS */

  .promo-rooms {
    padding: 242px 0 268px;
  }

  /* PROMO-PHOTO */

  .promo-photo {
    padding: 242px 0 268px;
  }

  .promo-photo .promo-address:before {
    left: -42%;
  }

  /* FEATURES */

  .features {
    padding: 68px 0 100px;
  }

  .features-item {
    padding-left: 118px;
    margin-top: 0;
  }

  .features-item-center {
    margin-left: 80px;
  }

  .features-item-sunset {
    padding-left: 50px;
  }

  .features-item-room {
    padding-left: 92px;
  }

  .features-item-center:before, .features-item-sunset:before, .features-item-room:before {
    left: 62px;
  }

  .features-item-center:before {
    top: 30px;
    left: 141px;
  }

  .features-item-sunset:before {
    top: 28px;
    left: -24px;
  }

  .features-item-room:before {
    top: 31px;
    left: 36px;
  }

  /* ROOMS-MAIN */

  .rooms-main-item:nth-child(odd) {
    padding-left: 109px;
  }

  .rooms-main-link {
    min-width: 460px;
  }

  .rooms-main-information {
    top: 170px;
    left: 149px;
  }

  .rooms-main-information-lux {
    top: 160px;
    left: 144px;
  }

  .rooms-main-image, .rooms-main-image-hover {
    width: 460px;
    display: block;
  }

  /* PHOTO-PREVIEW */

  .photo-preview {
    margin-bottom: 100px;
  }

  .photo-preview-item:nth-child(odd) {
    padding: 0 10px;
  }

  .photo-preview-item:nth-child(even) {
    padding: 0 10px;
  }

  .photo-preview-item {
    padding: 0 10px;
  }

  .photo-preview-item:nth-child(4n) {
    padding-right: 15px;
  }

  .photo-preview-item:nth-child(4n+1) {
    padding-left: 15px;
  }

  .photo-preview-link {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }

  .photo-preview-link-image {
    width: 100%;
  }

  .photo-preview .link-btn {
    margin: 45px 0 0 59px;
  }

  /* OFFERS */

  .offers-item-safety, .offers-item-attic {
    padding-left: 113px;
  }

  .offers-item:before {
    top: 3px;
  }

  .offers-item-safety:before {
    left: 15%;
  }

  .offers-item-attic:before {
    left: 13%;
  }

  .offers-item-attic .offers-description {
    padding-right: 21px;
  }

  /* CONTACTS */

  .contact-items {
    margin-top: 50px;
  }

  .contacts-line-item {
    padding-left: 0;
  }

  .contacts-line {
    margin-bottom: 0;
  }

  .contacts-line-address:before,  .contacts-line-phone:before, .contacts-line-mail:before {
    left: 0;
  }

  .contacts-line-address:before {
    left: 5px;
  }

  .reserve-btn {
    margin-left: 30px;
  }

  /* PAGE-FOOTER */

  .page-footer-address, .page-footer-contacts-link, .page-footer-text-copyright {
    margin-left: 0;
  }

  .page-footer-contacts-item {
    margin-top: 17px;
  }

  .page-footer-text-copyright {
    margin-top: 51px;
  }

  /* ROOMS-LIST */

  .rooms-list {
    padding: 58px 0 30px;
  }

  .rooms-list .container > .row:nth-child(n+2) {
    margin-top: 91px;
  }

  .rooms-list-item:first-child {
    padding-right: 10px;
  }

  .rooms-list-item:last-child {
    padding-left: 10px;
  }

  /* PHOTO-GALLERY */

  .photo-gallery {
    padding-top: 0;
  }

}

@media (min-resolution: 3dppx) {

  /* PROMO-MAIN */

  .promo-main {
    background-image: url(../img/promo-main-background-3dppx.jpg);
  }

  /* PROMO-ROOMS */

  .promo-rooms {
    background-image: url(../img/promo-rooms-background-3dppx.jpg);
  }

  /* PROMO-PHOTO */

  .promo-photo {
    background-image: url(../img/promo-photo-background-3dppx.jpg);
  }
}